<div class="catalog">
    <div class="catalog__container container">
        <div class="catalog__row">
            <div class="catalog__row-header">
                <h3 class="catalog__title">Новинки</h3>
                <a href="#" class="catalog__row-link"></a>
            </div>
            <div class="catalog__cards">
                <div class="catalog__card catalog-card">
                    <img src="img/item.png" class="catalog-card__img">
                    <span class="catalog-card__title">Gollandija Тарелка с бортами, р-р: 17.8*3.5 см., голуб.</span>
                    <span class="catalog-card__price">840 руб</span>
                    <img src="img/icons/heart.svg" class="catalog-card__like-button">
                </div>
                <div class="catalog__card catalog-card">
                    <img src="img/item.png" class="catalog-card__img">
                    <span class="catalog-card__title">Gollandija Тарелка с бортами, р-р: 17.8*3.5 см., голуб.</span>
                    <span class="catalog-card__price">840 руб</span>
                    <img src="img/icons/heart.svg" class="catalog-card__like-button">
                </div>
                <div class="catalog__card catalog-card">
                    <img src="img/item.png" class="catalog-card__img">
                    <span class="catalog-card__title">Gollandija Тарелка с бортами, р-р: 17.8*3.5 см., голуб.</span>
                    <span class="catalog-card__price">840 руб</span>
                    <img src="img/icons/heart.svg" class="catalog-card__like-button">
                </div>
            </div>

        </div>
        
    </div>
</div>