<header class="header">
    <div class="header__left">
        <div class="sidebar__wrapper">
            <div class="header__sidebar sidebar"></div>
        </div>
        <img src="img/logo.svg" alt="" class="header__logo">
    </div>
    <div class="header__right">
        <div class="header__search search">
            <input class="search__input" type="text">
            <img class="search__img" src="img/icons/search.svg">
        </div>
        <div class="header__controls">
            <img class="header__control" src="img/icons/user.svg">
            <img class="header__control" src="img/icons/heart.svg">
            <img class="header__control" src="img/icons/cart.svg">
        </div>
    </div>
</header>
